v\:* {
  behavior:url(#default#VML);
}

.gmap-popup{

}

.gmap-tooltip{
   padding: 2px;
   margin: 0;
   border: solid black 1px;
}

.gmap-left {
  float: left;
}

.gmap-center {
  margin-left: auto;
  margin-right: auto;
}

.gmap-right {
  float: right;
}
